:root {
  --accent-color: #ff0070;
  --background-color: #000028;
  --header-background: var(--header-background-dark);
  --text-color: #f1b2ce;
  --text-section-title-color: #ff0070;
  --title-color: #db00ff;
}