:root.theme-light {
  --accent-color: #ff8dcb;
  --background-color: var(--text-color);
  --header-background: var(--header-background-light);
  --text-color: #353430;
  --text-section-title-color: #353430;
  --title-color: #ffc2e6;
  --corner-color: var(--text-color);
  --indicator-display: none;
  --active-button-color: var(--text-color);
}

@media (prefers-color-scheme: light) {
  :root {
    --accent-color: #ff8dcb;
    --background-color: var(--text-color);
    --header-background: var(--header-background-light);
    --text-color: #353430;
    --text-section-title-color: #353430;
    --title-color: #ffc2e6;
    --corner-color: var(--text-color);
    --indicator-display: none;
    --active-button-color: var(--text-color);
  }
}